@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0B0B0D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
/* 
h1{
  color:#E1062C;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@keyframes skillScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-scroll {
  animation: skillScroll 18s linear infinite;
}

.skill-scroll:hover {
  animation-play-state: paused;
}


.text-scroll {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.text-track {
  display: flex;
  width: max-content;
  animation: textScroll 3s linear infinite;
    will-change: transform;
}

.text-trackreverse {
  display: flex;
  width: max-content;
  animation: textScroll 2s linear infinite;
    will-change: transform;
    animation-direction: reverse;
}

.text-item {
  padding: 0 1rem;
  font-size: 6rem;
  display: flex;
  align-items: center;
}

/* animation */
@keyframes textScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}


.text-outline-purple {
  color: black;
  text-shadow:
    2px 0 #6b21a8,
    -2px 0 #6b21a8,
    0 2px #6b21a8,
    0 -2px #6b21a8,
    1px 1px #6b21a8,
    -1px -1px #6b21a8,
    1px -1px #6b21a8,
    -1px 1px #6b21a8;
}



.shine-text {
  position: relative;
  display: inline-block;

  /* text styling */
  color: transparent;
  text-shadow: #6b21a8;
  background-image: linear-gradient(
    120deg,
    #6b21a8 40%,
    #9d56df 50%,
    #6b21a8 60%
  );
  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;

  animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
